<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>

    <div class="logo">
        <img src="{% static 'images/logo.png'%}" alt="" class="ml"><p >ROOTED</p>
    </div>

    <div class="box2">
    <div class="login-fr">
        
        <h2>REGISTER</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="name" class="form-input2" placeholder="Entre your name" required>
            <input type="email" name="email" class="form-input2" placeholder="Entre your email" required>
            <input type="password" name="password" class="form-input2" placeholder="Enter password" required>
            <!-- <input type="button" value="Register" class="login-button"> -->
            <button type="submit" class="login-button" >Register</button>

        </form>
   

    </div>
</div>
</body>
</html>