<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/userprfl.css' %}">

</head>
<body class="userpbody" style="background-color: #bee6c0;">
    <!-- ---------navbar---------- -->

<nav class="navbar navbar-expand-sm " id="navb">
    <div class="container-fluid">
      <a class="navbar-brand" href="homep">ROOTED</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" id="dropdown">
            <a href="" class="nav-link" id="dropbtn"> plants
            </a>
            <div class="dropdown-content">
              <a href="int_plt">Indoor Plants</a>
              <a href="#">Flowering Plants</a>
              <a href="#">Low Maintains Plants</a>
              <a href="#">Air Purifying Plants</a>
              <a href="#">Low Light Plants</a>
              <a href="#">Cacti & Succulents Plants</a>
              <a href="#">Hanging Plants</a>
              <a href="#">Fruit Plants</a>
              <a href="#">Bundle Plants</a>
              <a href="#">Others</a>
  
            </div>
          </li> 
          <li class="nav-item" id="dropdown">
            <a href="" class="nav-link" id="dropbtn">Seeds
            </a>
            <div class="dropdown-content">
              <a href="#">Flower Seeds</a>
              <a href="#">Vegetable Seeds</a>
              <a href="#">Flower Bulbs</a>
              <a href="#">Fruit Seeds</a>
              <a href="#">Others</a>
            </div>
          </li> 
          <li class="nav-item" id="dropdown">
            <a href="" class="nav-link" id="dropbtn"> Planters & Accessories
            </a>
            <div class="dropdown-content">
              <a href="#">Plastic Pots</a>
              <a href="#">Ceramic Pots</a>
              <a href="#">Metalic Planters</a>
              <a href="#">Wooden Planters</a>
              <a href="#">Hanging Planters</a>
              <a href="#">Plant Stands</a>
              <a href="#">Others</a>
            </div>
          </li>  
          <li class="nav-item" >
            <a href="" class="nav-link" id="dropbtn"> Fertilizers
            </a>
          </li> 
        </ul>
  <!-- 
        <div class="collapse navbar-collapse" id="mynavbar">
     
        </div> -->
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="m_login"><i class="fa-solid fa-user"></i></a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href=""><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
    
          </ul>
        </form>
        
     
  
      </div>  
    </div>
  </nav>
  <!-- ---------------navbarend------------- -->
  



<!-- ----------cnt--------- -->

<div class="container"  >
  <div class="row">
    <div class="col-lg-3" style=" width: 30%; ">
      <div class="usrdiv1">
        <img src="{% static 'images/prfl.webp' %}" alt="" style="height: 50px; width: 50px;"> 
        <p>Hello,user</p>
      </div>
      <!-- <a href="" style="text-decoration: none; color: black;">  -->
      <div class="usrdiv2">
        <i class="fa-solid fa-truck-fast" style="margin-right: 20px;margin-left: 10%;" ></i> ORDERS
      </div></a>
      <div class="usrdiv3">
        <p>ACCOUNT SETTINGS</p>
        <a href="" style="text-decoration: none; color: black;"> <div>Profile information</div></a>
        <a href="adrs" style="text-decoration: none; color: black;"><div> Manage Address </div></a>
      </div>
      <div class="usrdiv4">
        <a href="user_logout" style="text-decoration: none; color: black;"> <div> <i class="fa-solid fa-power-off"></i>logout</div></a>
      </div>
    </div>
    <div class="col-lg-7" id="usrdiv5">
      <div class="row" style="margin-top: 20px;">
        <form action="">
          <label for="">First Name</label>
          <input type="text" placeholder="name" value="">
          <label for="" style="margin-left: 40px;">Last Name</label>
          <input type="text" placeholder="name" value=""><br><br>
          <label for="">Email Address</label><br>
          <input type="email" placeholder="email" value=""><br><br>
          <label for="">Number</label>
          <input type="number" name="" id="" placeholder="Contact Number" >
          <label for="" style="margin-left: 40px;">DOB</label>
          <input type="date" name="" id="" ><br><br>
          <label for="">Gender</label><br>
          <input type="radio" name="gender" id="" value="gnd">Male <input type="radio" name="gender" value="gnd">Female
        </form>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
<!-- ------------------footer--------------------- -->

<footer
class="text-center text-lg-start text-white"
    border-color: #4CAF50;
    style="background-color: #55ac58;margin-top: 20px;"
    
>
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<!--Grid row-->
<div class="row">
<!-- Grid column -->
<div class="col-md-3 ">
  <h6 class="text-uppercase mb-4 font-weight-bold">
    ROOTED
  </h6>
  <p>
    Our goal is to transform your home garden into a personal sanctuary.
  </p>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-2 ">
  <h6 class="text-uppercase mb-4 font-weight-bold">ABOUT</h6>
  <p>
    <a class="text-white">Contact US</a>
  </p>
  <p>
    <a class="text-white">About UD</a>
  </p>

</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
  <p><i class="fas fa-home mr-3"></i> Adoor, kerala, India</p>
  <p><i class="fas fa-envelope mr-3"></i> rooted.plants50@gmail.com</p>
  <p><i class="fas fa-phone mr-3"></i> 1 234 567 88</p>
  <p><i class="fas fa-print mr-3"></i> 01 234 567 89</p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

  <!-- Facebook -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #3b5998"
     href="#!"
     role="button"
     ><i class="fab fa-facebook-f"></i
    ></a>

  <!-- Twitter -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #55acee"
     href="#!"
     role="button"
     ><i class="fab fa-twitter"></i
    ></a>

  <!-- Instagram -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #ac2bac"
     href="#!"
     role="button"
     ><i class="fab fa-instagram"></i
    ></a>

</div>
</div>
</div>
</footer>
<!------------------ Footer end------------------ -->



</body>
</html>